In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

1.	**Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.
Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.
Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.
Answer: Hybrid**

In [18]:
taxi_owners=pd.read_pickle("taxi_owners.p")

taxi_veh=pd.read_pickle("taxi_vehicles.p")

In [19]:
print(taxi_owners.value_counts(),"\n\n")
print(taxi_veh.value_counts())

rid    vid   owner                          address                zip
T1     1     YC1 LLC                        3351 W. ADDISON ST.    60618    1
T5162  5162  VERONIQUE ARIELLE CAB CORP.    2617 S. WABASH AVE.    60616    1
T5140  5140  IRA C BERGER                   6311 N. LAWNDALE AVE.  60659    1
T5145  5145  HHH & I COMPANY                3351 W. ADDISON ST.    60618    1
T5146  5146  AMR CAB CORP.                  3351 W. ADDISON AVE.   60618    1
                                                                           ..
T3015  3015  TANAKA TRANS CORP.             4626 W. CORNELIA AVE.  60641    1
T3016  3016  DRAKE GLOBAL ENTERPRISES INC.  2945 W. PETERSON AVE.  60659    1
T3018  3018  DERLY'S CAB CO., INC.          4626 W. CORNELIA AVE.  60641    1
T3019  3019  HERETIC INC                    3351 W. ADDISON ST.    60618    1
T997   997   PLAYING POLO IN CHICAGO INC    2617 S. WABASH AVE.    60616    1
Length: 3519, dtype: int64


vid   make    model   year  fuel_type  owner
1     TOYOTA  CAMRY   2014  HYBRID     YC1 LLC                          1
5162  FORD    ESCAPE  2012  HYBRID     VERONIQUE ARIELLE CAB CORP.      1
5140  FORD    FUSION  2012  HYBRID     IRA C BERGER                     1
5145  TOYOTA  CAMRY   2012  HYBRID     HHH & I COMPANY                  1
5146  TOYOTA  PRIUS   2013  HYBRID     AMR CAB CORP.                    1
                                                                       ..
3015  TOYOTA  CAMRY   2014  HYBRID     TANAKA TRANS CORP.               1
3016  TOYOTA  SIENNA  2019  GASOLINE   DRAKE GLOBAL ENTERPRISES INC.    1
3018  TOYOTA  CAMRY   2016  HYBRID     DERLY'S CAB CO., INC.            1
3019  TOYOTA  CAMRY   2010  HYBRID     HERETIC INC                      1
997   FORD    ESCAPE  2012  HYBRID     PLAYING POLO IN CHICAGO INC      1
Length: 3519, dtype: int64

In [20]:
taxi_own_veh=taxi_veh.merge(taxi_owners,on="vid")
print(taxi_own_veh.head())
print("\n\n===================================================\n\n")
print(taxi_own_veh.columns)   #note that there is two duplicate coulmn --owner_x and owner_y

    vid    make   model  year fuel_type              owner_x    rid  \
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI  T2767
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.  T1411
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP  T6500
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC  T2746
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO  T5922

               owner_y                address    zip
0       SEYED M. BADRI    510 W. BELMONT AVE.  60657
1          DESZY CORP.    3351 W. ADDISON ST.  60618
2       AGAPH CAB CORP  2945 W. PETERSON AVE.  60659
3  MIDWEST CAB CO, INC  4020 W. GLENLAKE AVE.  60646
4       SUMETTI CAB CO      6550 N. CLARK ST.  60626


===================================================


Index(['vid', 'make', 'model', 'year', 'fuel_type', 'owner_x', 'rid',
       'owner_y', 'address', 'zip'],
      dtype='object')

In [21]:
taxi_own_veh=taxi_veh.merge(taxi_owners,on="vid",suffixes=("_own","_veh"))
print(taxi_own_veh.head())

    vid    make   model  year fuel_type            owner_own    rid  \
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI  T2767
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.  T1411
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP  T6500
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC  T2746
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO  T5922

             owner_veh                address    zip
0       SEYED M. BADRI    510 W. BELMONT AVE.  60657
1          DESZY CORP.    3351 W. ADDISON ST.  60618
2       AGAPH CAB CORP  2945 W. PETERSON AVE.  60659
3  MIDWEST CAB CO, INC  4020 W. GLENLAKE AVE.  60646
4       SUMETTI CAB CO      6550 N. CLARK ST.  60626

In [22]:
print(taxi_own_veh['fuel_type'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64



---

2.	**Wards_Offices_Altered.csv is available which contains only 46 wards. Load this .csv to wards_altered and merge it with census on the column ward. Save the result to wards_census_altered and observe the number of rows.**

In [23]:
wards=pd.read_csv("Wards_Offices_Altered.csv")
cenus=pd.read_csv("Wards_Census.csv")
print(wards.shape)
print(cenus.shape)

(46, 4)
(50, 6)

In [24]:
wards_cenus=wards.merge(cenus,on="ward")
print(wards_cenus.head())
print("=============Total number of rows and columns in wards cenus =",wards_cenus.shape,"=============")

   ward            alderman                        address_x  zip_x  pop_2000  \
0     1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647     52951
1     2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622     54361
2     3          Pat Dowell          5046 SOUTH STATE STREET  60609     40385
3     4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616     51953
4     5  Leslie A. Hairston            2325 EAST 71ST STREET  60649     55302

   pop_2010 change                                address_y  zip_y
0     56149     6%              2765 WEST SAINT MARY STREET  60647
1     55805     3%                 WM WASTE MANAGEMENT 1500  60622
2     53039    31%                      17 EAST 38TH STREET  60653
3     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL  60653
4     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE  60637
=============Total number of rows and columns in wards cenus = (46, 9) =============

In [25]:
wards_cenus_altered=cenus.merge(wards,on="ward")
print(wards_cenus_altered.head())
print("=============Total number of rows and columns in wards cenus =",wards_cenus_altered.shape,"=============")

   ward  pop_2000  pop_2010 change                                address_x  \
0     1     52951     56149     6%              2765 WEST SAINT MARY STREET
1     2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2     3     40385     53039    31%                      17 EAST 38TH STREET
3     4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4     5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

   zip_x            alderman                        address_y  zip_y
0  60647  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1  60622       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2  60653          Pat Dowell          5046 SOUTH STATE STREET  60609
3  60653    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4  60637  Leslie A. Hairston            2325 EAST 71ST STREET  60649
=============Total number of rows and columns in wards cenus = (46, 9) =============



---



---

In [26]:
lincenses=pd.read_csv("Business_Licenses.csv")
print( lincenses.head())
print(lincenses.shape)

   account  ward  aid                   business               address  \
0   307071     3  743       REGGIE'S BAR & GRILL       2105 S STATE ST
1       10    10  829                 HONEYBEERS   13200 S HOUSTON AVE
2    10002    14  775                CELINA DELI     5089 S ARCHER AVE
3    10005    12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST
4    10044    44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE

       zip
0  60616.0
1  60633.0
2  60632.0
3  60609.0
4  60613.0
(10000, 6)

In [27]:
ward_lincenses=wards.merge(lincenses,on="ward",suffixes=("_ward","_lic"))
print(ward_lincenses)

      ward            alderman                address_ward  zip_ward  account  \
0        1  Proco "Joe" Moreno   2058 NORTH WESTERN AVENUE     60647    12024
1        1  Proco "Joe" Moreno   2058 NORTH WESTERN AVENUE     60647    14446
2        1  Proco "Joe" Moreno   2058 NORTH WESTERN AVENUE     60647    14624
3        1  Proco "Joe" Moreno   2058 NORTH WESTERN AVENUE     60647    14987
4        1  Proco "Joe" Moreno   2058 NORTH WESTERN AVENUE     60647    15642
...    ...                 ...                         ...       ...      ...
9285    46     James Cappleman  4544 NORTH BROADWAY AVENUE     60640    64787
9286    46     James Cappleman  4544 NORTH BROADWAY AVENUE     60640     6764
9287    46     James Cappleman  4544 NORTH BROADWAY AVENUE     60640     6787
9288    46     James Cappleman  4544 NORTH BROADWAY AVENUE     60640     8329
9289    46     James Cappleman  4544 NORTH BROADWAY AVENUE     60640     8612

      aid                           business               address_lic  \
0     NaN                DIGILOG ELECTRONICS        1038 N ASHLAND AVE
1     743                   EMPTY BOTTLE INC    1035 N WESTERN AVE 1ST
2     775               LITTLE MEL'S HOT DOG     2205 N CALIFORNIA AVE
3     NaN                 MR. BROWN'S LOUNGE    2301 W CHICAGO AVE 1ST
4     814                       Beat Kitchen   2000-2100 W DIVISION ST
...   ...                                ...                       ...
9285  NaN  CUPID'S TREASURES OF CHICAGO,INC.         3519 N HALSTED ST
9286  775           THOREK MEMORIAL HOSPITAL   850 W IRVING PARK RD  1
9287  775                   The Bar on Buena           910 W BUENA AVE
9288  774                  PARK MARKET FOODS  3949 N PINE GROVE AVE  1
9289  775             A-1 DONUT & SNACK SHOP        3938 N SHERIDAN RD

      zip_lic
0     60622.0
1     60622.0
2     60647.0
3     60622.0
4     60622.0
...       ...
9285  60657.0
9286  60613.0
9287  60613.0
9288  60613.0
9289  60613.0

[9290 rows x 9 columns]

3.	**Complete the following tasks.
•	Starting with the licenses table on the left, merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.
•	Group licenses_owners by title and count the number of accounts for each title using .agg({'account':'count'}). Save the result as counted_df
•	Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.
•	Use the .head() method to print the first few rows of the sorted_df.**

In [29]:
biz_owners=pd.read_pickle("business_owners.p")
lincenses=pd.read_pickle("licenses.p")
print(biz_owners)
print(lincenses)

      account first_name  last_name           title
0          10      PEARL    SHERMAN       PRESIDENT
1          10      PEARL    SHERMAN       SECRETARY
2       10002     WALTER     MROZEK         PARTNER
3       10002     CELINA     BYRDAK         PARTNER
4       10005      IRENE  ROSENFELD       PRESIDENT
...       ...        ...        ...             ...
21347    9513     THOMAS     MAHLUM       SECRETARY
21348    9563  GUADALUPE      PEREZ       PRESIDENT
21349    9638     STEVEN     JENSEN  VICE PRESIDENT
21350    9922     MANUEL    SALAZAR       SECRETARY
21351    9933    MICHAEL       KNAB       PRESIDENT

[21352 rows x 4 columns]
     account ward  aid                   business                     address  \
0     307071    3  743       REGGIE'S BAR & GRILL             2105 S STATE ST
1         10   10  829                 HONEYBEERS         13200 S HOUSTON AVE
2      10002   14  775                CELINA DELI           5089 S ARCHER AVE
3      10005   12  NaN  KRAFT FOODS NORTH AMERICA              2005 W 43RD ST
4      10044   44  638  NEYBOUR'S TAVERN & GRILLE        3651 N SOUTHPORT AVE
...      ...  ...  ...                        ...                         ...
9995    8634   10  NaN                 J M V CORP              2717 E 95TH ST
9996   86350   42  708        AMERICASH LOANS LLC          103 N WELLS ST 1ST
9997   86352   23  775                MC DONALD'S        6720 W ARCHER AVE  1
9998   86355   43  638       VOSGES HAUT-CHOCOLAT        951 W ARMITAGE AVE 1
9999   86373   20  775    ALMUFLIHI FOOD & LIQUOR  5400-5404 S HALSTED ST 1ST

        zip
0     60616
1     60633
2     60632
3     60609
4     60613
...     ...
9995  60617
9996  60606
9997  60638
9998  60614
9999  60609

[10000 rows x 6 columns]

In [30]:
lincenses_onwers=lincenses.merge(biz_owners,on="account")

In [31]:
counted_df=lincenses_onwers.groupby("title").agg({"account":"count"})
counted_df

                    account
title
ASST. SECRETARY         111
BENEFICIARY               4
CEO                     110
DIRECTOR                146
EXECUTIVE DIRECTOR       10
GENERAL PARTNER          21
INDIVIDUAL              268
LIMITED PARTNER          26
MANAGER                 134
MANAGING MEMBER         878
MEMBER                  884
NOT APPLICABLE           11
OTHER                  1200
PARTNER                 451
PRESIDENT              6259
PRINCIPAL OFFICER        63
SECRETARY              5205
SHAREHOLDER             590
SOLE PROPRIETOR        1658
SPOUSE                   34
TREASURER               447
TRUSTEE                   6
VICE PRESIDENT          970

In [32]:
sorted_df=counted_df.sort_values("account",ascending=False)
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970



---

4.	**Complete the following tasks.
•	Merge the ridership and cal tables together, starting with the ridership table on the left and save the result to the variable ridership_cal.
•	Extend the previous merge to three tables by also merging the stations table.
•	Create a variable called filter_criteria to select the appropriate rows from the merged table so that you can sum the rides column.**

In [33]:
cal=pd.read_pickle("cta_calendar.p")
ridership=pd.read_pickle("cta_ridership.p")
stations=pd.read_pickle("stations.p")

In [34]:
print(cal.head())
print(ridership.head())
print(stations.head())

   year  month  day        day_type
0  2019      1    1  Sunday/Holiday
1  2019      1    2         Weekday
2  2019      1    3         Weekday
3  2019      1    4         Weekday
4  2019      1    5        Saturday
  station_id  year  month  day  rides
0      40010  2019      1    1    576
1      40010  2019      1    2   1457
2      40010  2019      1    3   1543
3      40010  2019      1    4   1621
4      40010  2019      1    5    719
  station_id        station_name                 location
0      40010  Austin-Forest Park  (41.870851, -87.776812)
1      40020         Harlem-Lake  (41.886848, -87.803176)
2      40030        Pulaski-Lake  (41.885412, -87.725404)
3      40040        Quincy/Wells   (41.878723, -87.63374)
4      40050               Davis   (42.04771, -87.683543)

In [35]:
#ridership_cal=ridership.merge(cal)

#merging the ridersip ,cal and stations tables
ridership_cal_stations=ridership.merge(cal,on=["year","month","day"]).merge(stations)
print(ridership_cal_stations)

     station_id  year  month  day  rides        day_type        station_name  \
0         40010  2019      1    1    576  Sunday/Holiday  Austin-Forest Park
1         40010  2019      1    2   1457         Weekday  Austin-Forest Park
2         40010  2019      1    3   1543         Weekday  Austin-Forest Park
3         40010  2019      1    4   1621         Weekday  Austin-Forest Park
4         40010  2019      1    5    719        Saturday  Austin-Forest Park
...         ...   ...    ...  ...    ...             ...                 ...
3280      41660  2019     12   27  13898         Weekday          Lake/State
3281      41660  2019     12   28   9485        Saturday          Lake/State
3282      41660  2019     12   29   7581  Sunday/Holiday          Lake/State
3283      41660  2019     12   30  15332         Weekday          Lake/State
3284      41660  2019     12   31  13430         Weekday          Lake/State

                     location
0     (41.870851, -87.776812)
1     (41.870851, -87.776812)
2     (41.870851, -87.776812)
3     (41.870851, -87.776812)
4     (41.870851, -87.776812)
...                       ...
3280  (41.884809, -87.627813)
3281  (41.884809, -87.627813)
3282  (41.884809, -87.627813)
3283  (41.884809, -87.627813)
3284  (41.884809, -87.627813)

[3285 rows x 8 columns]

In [36]:

ridership_cal_stations=ridership.merge(cal,on=["year","month","day"]).merge(stations,on="station_id")
print(ridership_cal_stations)

     station_id  year  month  day  rides        day_type        station_name  \
0         40010  2019      1    1    576  Sunday/Holiday  Austin-Forest Park
1         40010  2019      1    2   1457         Weekday  Austin-Forest Park
2         40010  2019      1    3   1543         Weekday  Austin-Forest Park
3         40010  2019      1    4   1621         Weekday  Austin-Forest Park
4         40010  2019      1    5    719        Saturday  Austin-Forest Park
...         ...   ...    ...  ...    ...             ...                 ...
3280      41660  2019     12   27  13898         Weekday          Lake/State
3281      41660  2019     12   28   9485        Saturday          Lake/State
3282      41660  2019     12   29   7581  Sunday/Holiday          Lake/State
3283      41660  2019     12   30  15332         Weekday          Lake/State
3284      41660  2019     12   31  13430         Weekday          Lake/State

                     location
0     (41.870851, -87.776812)
1     (41.870851, -87.776812)
2     (41.870851, -87.776812)
3     (41.870851, -87.776812)
4     (41.870851, -87.776812)
...                       ...
3280  (41.884809, -87.627813)
3281  (41.884809, -87.627813)
3282  (41.884809, -87.627813)
3283  (41.884809, -87.627813)
3284  (41.884809, -87.627813)

[3285 rows x 8 columns]

In [37]:
filter_criteria=((ridership_cal_stations["month"]==7)
                  &(ridership_cal_stations["day_type"]=="Weekday")
                  &(ridership_cal_stations["station_name"]=="Wilson"))
##############caution########################case / name senstitice
print(ridership_cal_stations.loc[filter_criteria,"rides"].sum())

140005

5.	**Complete the following tasks.
•	Starting with the licenses table, merge to it the zip_demo table on the zip column. Then merge the resulting table to the wards table on the ward column. Save result of the three merged tables to a variable named licenses_zip_ward.
•	Group the results of the three merged tables by the column alderman and find the median income (agg({'income':'median'}).**

In [38]:
lincenses=pd.read_pickle("licenses.p")
wards=pd.read_pickle("ward.p")
zip_demo=pd.read_pickle("zip_demo.p")

In [39]:
print(lincenses.head())
print(wards.head())
print(zip_demo.head())

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613
  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649
     zip  income
0  60630   70122
1  60640   50488
2  60622   87143
3  60614  100116
4  60608   41226

In [40]:
lincenses_zip_wards=lincenses.merge(zip_demo,on="zip").merge(wards,on="ward")
print(lincenses_zip_wards)

     account ward  aid                   business                address_x  \
0     307071    3  743       REGGIE'S BAR & GRILL          2105 S STATE ST
1      11280    3  763                  PRIME WAY      2251 S STATE ST 1ST
2      15015    3  NaN      SOUTHVIEW MANOR, INC.      3311 S MICHIGAN AVE
3      19168    3  666                   BP AMOCO  3101 S MICHIGAN AVE 1ST
4     205980    3  763      J & J  FISH & CHICKEN            8 E CERMAK RD
...      ...  ...  ...                        ...                      ...
9989  278535   18  NaN       LOOP DEVELOPMENT PTR           3135 W 71ST ST
9990   35801   18  NaN    MOTHER'S TOUCH DAY CARE       2501 W 71ST ST 1ST
9991  395464   18  894      Brother's Barber Shop         2445 W 71ST ST 1
9992   42012   18  NaN               WINSTON LOTT       2957 W 71ST ST 1ST
9993   85634   18  NaN  KIDS "R" US OUTLET CENTER     7455 S CICERO AVE  1

      zip_x  income           alderman                address_y  zip_y
0     60616   46340         Pat Dowell  5046 SOUTH STATE STREET  60609
1     60616   46340         Pat Dowell  5046 SOUTH STATE STREET  60609
2     60616   46340         Pat Dowell  5046 SOUTH STATE STREET  60609
3     60616   46340         Pat Dowell  5046 SOUTH STATE STREET  60609
4     60616   46340         Pat Dowell  5046 SOUTH STATE STREET  60609
...     ...     ...                ...                      ...    ...
9989  60629   41856  Derrick G. Curtis  8359 SOUTH PULASKI ROAD  60652
9990  60629   41856  Derrick G. Curtis  8359 SOUTH PULASKI ROAD  60652
9991  60629   41856  Derrick G. Curtis  8359 SOUTH PULASKI ROAD  60652
9992  60629   41856  Derrick G. Curtis  8359 SOUTH PULASKI ROAD  60652
9993  60629   41856  Derrick G. Curtis  8359 SOUTH PULASKI ROAD  60652

[9994 rows x 10 columns]

In [41]:
lincenses_zip_wards["alderman"]

0              Pat Dowell
1              Pat Dowell
2              Pat Dowell
3              Pat Dowell
4              Pat Dowell
              ...
9989    Derrick G. Curtis
9990    Derrick G. Curtis
9991    Derrick G. Curtis
9992    Derrick G. Curtis
9993    Derrick G. Curtis
Name: alderman, Length: 9994, dtype: object

6.	**Complete the following tasks.
•	What column is likely the best column to merge the two tables on?
•	Merge the movies table, as the left table, with the financials table using a left join, and save the result to movies_financials.
•	Count the number of rows in movies_financials with a null value in the budget column**

In [42]:
movies=pd.read_pickle("movies.p")
finicials=pd.read_pickle("financials.p")
print(movies.head())
print(finicials.head())

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17
       id     budget       revenue
0   19995  237000000  2.787965e+09
1     285  300000000  9.610000e+08
2  206647  245000000  8.806746e+08
3   49026  250000000  1.084939e+09
4   49529  260000000  2.841391e+08

In [43]:
movies_finicial=movies.merge(finicials,on="id",how="left")
#merging movies and finicials with a left join
print(movies_finicial)

         id                 title  popularity release_date      budget  \
0       257          Oliver Twist   20.415572   2005-09-23  50000000.0
1     14290  Better Luck Tomorrow    3.877036   2002-01-12         NaN
2     38365             Grown Ups   38.864027   2010-06-24  80000000.0
3      9672              Infamous    3.680896   2006-11-16  13000000.0
4     12819       Alpha and Omega   12.300789   2010-09-17  20000000.0
...     ...                   ...         ...          ...         ...
4798   3089             Red River    5.344815   1948-08-26   3000000.0
4799  11934   The Hudsucker Proxy   14.188982   1994-03-11         NaN
4800  13807                Exiled    8.486390   2006-09-06         NaN
4801  73873          Albert Nobbs    7.802245   2011-12-21   8000000.0
4802  11622   Blast from the Past    8.737058   1999-02-12  35000000.0

          revenue
0      42093706.0
1             NaN
2     271430189.0
3       1151330.0
4      39300000.0
...           ...
4798    9012000.0
4799          NaN
4800          NaN
4801    5634828.0
4802   40263020.0

[4803 rows x 6 columns]

In [44]:
number_of_missing_vals=movies_finicial["budget"].isna().sum()
print(number_of_missing_vals)

1574